{% extends 'base.html' %}
{% block title %}
    Add-New-Task
{% endblock %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; padding: 20px;">
    <div
        style="width:500px; border-radius:10px; box-shadow: 3px 6px 18px 6px #b3c1c7; background: #fff;">
        <br>
        <h2 style="text-align: center; margin-top: 10px; color: #0cb4d2;">ADD x DO</h2>
        <form method="post" accept="{% url 'add_task' %}">
            {% csrf_token %}
            <div style="padding:20px; margin-left:15px;">
                <span style="margin-left:10px;">Title</span>
                <br>
                <input type="text" name="task_name" placeholder="Add To List"
                    style="border-radius:10px; border: 1px solid #ddd; height:40px; padding:20px; width:400px; margin-bottom:20px;"
                    required>
                <br>
                <span style="margin-left:10px;">Description</span>
                <br>
                <textarea name="task_details" placeholder="Add To List"
                    style="border-radius:10px; border: 1px solid #ddd; padding:20px; width:400px; margin-bottom:20px;" required></textarea>
                <br>
                <span style="margin-left:10px;">Reminder</span>
                <br>
                <input type="datetime-local" name="target_time"
                    style="border-radius:10px; border: 1px solid #ddd; height:40px; padding:20px; width:400px; margin-bottom:20px;" required>
                <br><br>
                <button type="submit" style="background-color: #19b5d0; color: rgb(255, 255, 255); 
                    width:300px; margin-bottom: 20px; border: none; border-radius: 5px; 
                    height:40px; margin-left:55px; font-weight: 550;
                    box-shadow: 4px 6px 4px #c5e9f8;">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
